.title-block {
  padding-bottom: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d7dde4
}

h3.title.pull-left {
  font-size: 1.45rem;
  font-weight: 600;
  margin-bottom: 0;
  opacity: 0.8;
}
